<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h1>Welcome to my club!</h1>
        <%- include('/partial/error.ejs') %>
        <form action="/log-in" method="post">
            <label for="username">Username: <input id="username" name="username" type="email"></label>
            <label for="password">Password: <input id="password" name="password" type="password"></label>
            <button type="submit">Login</button>
        </form>
        <p>Do not have an account?</p>
        <a href="/sign-up">Sign-up</a>
    </body>
</html>