<!DOCTYPE html>
<html>
    <head>
        <title>Signin Page</title>
    </head>
    <body>
        <h1>Create an account</h1>
        <%- include('partial/error.ejs') %>
        <form action="/sign-up" method="POST">
            <h2>Please input information</h2>
            <label for="fullname">Full-name: <input id="fullname" name="fullname" type="text"></label>
            <label for="username">Username: <input id="username" name="username" type="email"></label>
            <label for="password">Password: <input id="password" name="password" type="password"></label>
            <button type="submit">Create</button>
        </form>
        <p>Already have an account?</p>
        <a href="/log-in">Log-in</a>
    </body>
</html>